<div class="container">

  <h1 class="titulo">Lista de Animales</h1>

  <div class="lista">

    <div class="card" *ngFor="let animal of animales">

      <!-- INFO -->
      <div class="info">
        <span class="nombre">{{ animal.name }}</span>
        <span class="tipo">{{ animal.type }}</span>

        <span 
          class="status"
          [ngClass]="animal.status.toLowerCase()"
        >
          {{ animal.status }}

          <span *ngIf="animal.status.toLowerCase() === 'available'">✔️</span>
          <span *ngIf="animal.status.toLowerCase() === 'pending'">⏳</span>
          <span *ngIf="animal.status.toLowerCase() === 'adopted'">❌</span>
        </span>
      </div>

      <!-- BOTONES -->
      <div class="acciones">

        <button class="btn detalle" (click)="verDetalle(animal.id)">
          Ver detalles
        </button>

        <button 
          class="btn adoptar" 
          *ngIf="animal.status.toLowerCase() === 'available'"
        >
          Adoptar
        </button>

      </div>

    </div>

  </div>

</div>