.dialog-title {
  text-align: center;
  font-weight: 600;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10px;
}

.swiper-container {
  border-radius: 12px;
  overflow: hidden;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

/* Botón falso para input file */
.file-label {
  cursor: pointer;
}

.file-button {
  display: inline-block;
  padding: 10px 16px;
  background: #e0e0e0;
  border-radius: 8px;
  transition: 0.2s;
}

.file-button:hover {
  background: #d5d5d5;
}
