.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #90caf9;
  padding: 0 16px;
  height: 64px;
}

/* LEFT */
.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Logo provisional */
.logo {
  font-size: 24px;
  cursor: pointer;
}

/* Logo */
.logo-img {
  height: 32px;
  cursor: pointer;
}

/* Texto */
.title {
  font-weight: 600;
  font-size: 18px;
}

/* CENTER */
.header-center {
  flex: 1;
}

/* RIGHT */
.header-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Avatar más claro visualmente */
.header-right button[mat-icon-button] {
  width: 40px;
  height: 40px;
}


/* CTA */
.cta {
  background-color: white;
  color: #1976d2;
  font-weight: 600;
}

.cta:hover {
  background-color: #e3f2fd;
}

/* Hover general botones header */
.header button {
  transition: all 0.2s ease;
}

/* USER */
.user-button {
  display: flex;
  align-items: center;
  gap: 6px;
}

.username {
  font-size: 14px;
  font-weight: 500;
}

/* Flags / Language */
.lang-button {
  min-width: unset !important;
  padding: 0 8px !important;
}
/* Personalización del menú de idiomas sobreescribiendo estilos por defecto */
::ng-deep .flag-menu-panel.mat-mdc-menu-panel {
  min-width: unset !important;
  width: fit-content !important;
  max-width: unset !important;
}

::ng-deep .flag-menu-panel .mat-mdc-menu-content {
  padding: 0 !important;
}

::ng-deep .flag-menu-panel .flag-only-item.mat-mdc-menu-item {
  min-width: unset !important;
  padding: 10px !important;
  height: auto !important;   
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.flag-img, .flag-img-menu {
  width: 24px;   
  display: block;
  border-radius: 2px; 
}



/* mbl */
@media (max-width: 768px) {

  .title {
    display: none;
  }

  .username {
    display: none;
  }

  .register-button {
    display: none;
  }

  .cta {
    padding: 0 10px;
    font-size: 13px;
  }
}
