<div class="header">

  <!-- LEFT -->
  <div class="header-left">
    <button mat-icon-button (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="logo" [routerLink]="['/']">🐾</div> <!--<img src="assets/logo.png" class="logo-img">-->
    <span class="title">Un Hogar Para Todos</span>
  </div>

  <!-- CENTER -->
  <div class="header-center"></div>

  <!-- RIGHT -->
  <div class="header-right">

    <!-- CTA -->
    <button mat-raised-button color="primary" class="cta" [routerLink]="['/listaanimal']">
      Adoptar
    </button>

    <!-- USER AREA -->
    <ng-container *ngIf="user$ | async as user; else guest">

      <button mat-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" class="user-button">
        <mat-icon>account_circle</mat-icon>
        <span class="username">{{ user.username }}</span>
      </button>

      <mat-menu #menu="matMenu">

        <button mat-menu-item (click)="navigateAndClose('/profile')">
          <mat-icon>person</mat-icon>
          <span>Perfil</span>
        </button>

        <button mat-menu-item
                *ngIf="isAdminOrWorker(user)"
                (click)="navigateAndClose('/admin')">
          <mat-icon>admin_panel_settings</mat-icon>
          <span>Admin</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>

      </mat-menu>

    </ng-container>

    <!-- GUEST -->
    <ng-template #guest>
      <button mat-button [routerLink]="['/login']">Login</button>
      <button mat-button [routerLink]="['/register']">Register</button>
    </ng-template>

  </div>

</div>
