# Node modules (para cualquier subcarpeta)
node_modules/

# Builds
dist/
build/

# Logs
logs/
*.log

# Entorno
.env

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

#constants
**/config/constants.js
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/UnHogarParaTodos/config/applicationhost.config
.vs/UnHogarParaTodos/v16/.suo

# Config DB
**/config/database.config.js