<div class="login-container">
  <mat-card class="login-card">
    <mat-card-title class="welcome-text">{{ 'NAV.AUTH.LOGIN' | translate }}</mat-card-title>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Usuario -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'USER.USERNAME' | translate }}</mat-label>
        <input matInput formControlName="username" required>
        <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
          {{ 'VALIDATION.REQUIRED_USERNAME' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Contraseña -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'AUTH.PASSWORD' | translate }}</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" required>
        <button mat-icon-button matSuffix type="button" (click)="clickEvent($event)">
          <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          {{ 'VALIDATION.REQUIRED_PASSWORD' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Botón Login -->
      <button mat-raised-button color="primary" class="full-width login-button" type="submit"
        [disabled]="loginForm.invalid">
        {{ 'AUTH.BUTTONS.LOGIN' | translate }}
      </button>
    </form>

    <!-- Texto de registro -->
    <div class="register-text">
      {{ 'AUTH.NO_ACCOUNT' | translate }}
      <button mat-button color="accent" (click)="goToRegister()">
        {{ 'NAV.AUTH.REGISTER' | translate }}
      </button>
    </div>
  </mat-card>
</div>