<div class="editperfil-container">
  <h1 class="titulo">{{ 'NAV.USER.EDIT_PROFILE' | translate }}</h1>

  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

    <!-- Usuario -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ 'USER.USERNAME' | translate }}</mat-label>
      <input matInput formControlName="username">
      <mat-error *ngIf="editForm.get('username')?.hasError('required')">
        {{ 'VALIDATION.REQUIRED_USERNAME' | translate }}
      </mat-error>
    </mat-form-field>

    <!-- Email -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ 'USER.EMAIL' | translate }}</mat-label>
      <input matInput type="email" formControlName="email">
      <mat-error *ngIf="editForm.get('email')?.hasError('required')">
        {{ 'VALIDATION.REQUIRED_EMAIL' | translate }}
      </mat-error>
      <mat-error *ngIf="editForm.get('email')?.hasError('email')">
        {{ 'VALIDATION.INVALID_EMAIL' | translate }}
      </mat-error>
    </mat-form-field>

    <!-- Contraseña -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ 'AUTH.NEW_PASSWORD' | translate }}</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="editForm.get('password')?.hasError('minlength')">
        {{ 'VALIDATION.PASSWORD_MIN_LENGTH' | translate }}
      </mat-error>
    </mat-form-field>

    <!-- Confirmar Contraseña -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ 'AUTH.CONFIRM_PASSWORD' | translate }}</mat-label>
      <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword">
      <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword">
        <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="editForm.get('confirmPassword')?.hasError('confirmPasswordRequired')">
        {{ 'VALIDATION.REQUIRED_CONFIRM' | translate }}
      </mat-error>
      <mat-error *ngIf="editForm.get('confirmPassword')?.hasError('passwordMismatch')">
        {{ 'VALIDATION.PASSWORD_MISMATCH' | translate }}
      </mat-error>
    </mat-form-field>

    <!-- Botón Guardar -->
    <button mat-raised-button color="primary" type="submit" [disabled]="editForm.invalid">
      {{ 'COMMON.BUTTONS.SAVE' | translate }}
    </button>
  </form>
</div>
