<div class="container">

  <h1>🐾 Test de adopción</h1>

  <!-- INICIO -->
  <div *ngIf="!started && !finished">
    <button (click)="startTest()">Iniciar test</button>
  </div>

  <!-- LOADING -->
  <div *ngIf="loading">Cargando preguntas...</div>

  <!-- TEST -->
  <div *ngIf="started && !loading">

    <div *ngFor="let q of questions" class="question">
      <h3>{{ q.question_text }}</h3>

      <div class="answers">
        <button *ngFor="let a of q.answers" (click)="selectAnswer(q.id, a.id)"
          [class.selected]="answersSelected[q.id] === a.id">
          {{ a.answer_text }}
        </button>
      </div>
    </div>

    <button class="submit" (click)="submitTest()">
      Enviar test
    </button>
  </div>

  <!-- LOADING RESULT -->
  <div *ngIf="loadingResult">
    Calculando resultado...
  </div>

  <!-- RESULTADO -->
  <div *ngIf="finished && result">


    <h2>🐾 Animales recomendados</h2>

    <div class="cards">

      <div class="card" *ngFor="let a of recommendations">

        <h3>{{ a.animal.name }}</h3>

        <p>📊 Compatibilidad: <b>{{ a.compatibility }}%</b></p>

        <span *ngIf="a.compatibility >= 50">🔥 Bien compatible</span>
        <span *ngIf="a.compatibility < 50">⚠️ Poco compatible</span>

        <p>🐶 Tipo: {{ a.animal.type }}</p>

        <p>⚡ Energía: {{ a.animal.profile?.energy_level }}</p>

        <p>👶 Niños: {{ a.animal.profile?.good_with_kids ? 'Sí' : 'No' }}</p>

        <p>🏠 Vivienda: {{ a.animal.profile?.preferred_housing_type }}</p>

        <p>📏 Tamaño: {{ a.animal.profile?.size }}</p>

        <p>🐕 Experiencia requerida: {{ a.animal.profile?.needs_experience ? 'Sí' : 'No' }}</p>

        <button [routerLink]="['/infoanimal', a.animal.id]">
          Ver detalle
        </button>

      </div>
    </div>

  </div>