<div class="container">

  <h1>{{ 'TEST.TITLE' | translate }}</h1>

  <!-- INICIO -->
  <div *ngIf="!started && !finished">
    <button (click)="startTest()">{{ 'TEST.START' | translate }}</button>
  </div>

  <!-- LOADING -->
  <div *ngIf="loading">{{ 'TEST.LOADING' | translate }}</div>

  <!-- TEST -->
  <div *ngIf="started && !loading">

    <div *ngFor="let q of questions" class="question">
      <h3>{{ q.question_text }}</h3>

      <div class="answers">
        <button *ngFor="let a of q.answers" (click)="selectAnswer(q.id, a.id)"
          [class.selected]="answersSelected[q.id] === a.id">
          {{ a.answer_text }}
        </button>
      </div>
    </div>

    <button class="submit" (click)="submitTest()">
      {{ 'TEST.SUBMIT' | translate }}
    </button>
  </div>

  <!-- LOADING RESULT -->
  <div *ngIf="loadingResult">
    {{ 'TEST.LOADING_RESULT' | translate }}
  </div>

  <!-- RESULTADO -->
  <div *ngIf="finished && result">


    <h2>{{ 'TEST.RESULT.TITLE' | translate }}</h2>

    <div class="cards">

      <div class="card" *ngFor="let a of recommendations">

        <h3>{{ a.animal.name }}</h3>

        <p>📊 {{ 'TEST.RESULT.COMPATIBILITY' | translate }}: <b>{{ a.compatibility }}%</b></p>

        <span *ngIf="a.compatibility >= 50">{{ 'TEST.RESULT.GOOD' | translate }}</span>
        <span *ngIf="a.compatibility < 50">{{ 'TEST.RESULT.BAD' | translate }}</span>

        <p>🐶 {{ 'TEST.RESULT.TYPE' | translate }}: {{ a.animal.type ? ('ENUMS.ANIMAL_TYPE.' + a.animal.type | translate) : ('COMMON.NO_INFO' | translate) }}</p>

        <p>⚡ {{ 'TEST.RESULT.ENERGY' | translate }}: {{ a.animal.profile?.energy_level ? ('ENUMS.ANIMAL_ENERGY_LEVEL.' + a.animal.profile?.energy_level | translate) : ('COMMON.NO_INFO' | translate) }}</p>

        <p>👶 {{ 'TEST.RESULT.KIDS' | translate }}: {{ a.animal.profile?.good_with_kids === true ? ('COMMON.BOOLEANS.TRUE' | translate) : a.animal.profile?.good_with_kids === false ? ('COMMON.BOOLEANS.FALSE' | translate) : ('COMMON.NO_INFO' | translate) }}</p>

        <p>🏠 {{ 'TEST.RESULT.HOUSING' | translate }}: {{ a.animal.profile?.preferred_housing_type ? ('ENUMS.HOUSING.' + a.animal.profile?.preferred_housing_type | translate) : ('COMMON.NO_INFO' | translate) }}</p>

        <p>📏 {{ 'TEST.RESULT.SIZE' | translate }}: {{ a.animal.profile?.size ? ('ENUMS.ANIMAL_SIZE.' + a.animal.profile?.size | translate) : ('COMMON.NO_INFO' | translate) }}</p>

        <p>🐕 {{ 'TEST.RESULT.EXPERIENCE' | translate }}: {{ a.animal.profile?.needs_experience === true ? ('COMMON.BOOLEANS.TRUE' | translate) : a.animal.profile?.needs_experience === false ? ('COMMON.BOOLEANS.FALSE' | translate) : ('COMMON.NO_INFO' | translate) }}</p>

        <button [routerLink]="['/infoanimal', a.animal.id]">
          {{ 'NAV.DETALLESANIMAL' | translate }}
        </button>

      </div>
    </div>

  </div>