<div class="register-container">
  <mat-card class="register-card">
    <mat-card-title>{{ 'NAV.AUTH.REGISTER' | translate }}</mat-card-title>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <!-- USERNAME -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'USER.USERNAME' | translate }}</mat-label>
        <input matInput formControlName="username" required>

        <mat-error *ngIf="isInvalid('username','required')">
          {{ 'VALIDATION.REQUIRED_USERNAME' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- EMAIL -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'USER.EMAIL' | translate }}</mat-label>
        <input matInput type="email" formControlName="email" required>

        <mat-error *ngIf="isInvalid('email','required')">
          {{ 'VALIDATION.REQUIRED_EMAIL' | translate }}
        </mat-error>

        <mat-error *ngIf="isInvalid('email','email')">
          {{ 'VALIDATION.INVALID_EMAIL' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- PASSWORD -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'AUTH.PASSWORD' | translate }}</mat-label>

        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
        />

        <button mat-icon-button matSuffix (click)="togglePassword($event)" type="button">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>

        <mat-error *ngIf="isInvalid('password','required')">
          {{ 'VALIDATION.REQUIRED_PASSWORD' | translate }}
        </mat-error>

        <mat-error *ngIf="isInvalid('password','minlength')">
          Mínimo 6 caracteres
        </mat-error>

        <mat-error *ngIf="isInvalid('password','pattern')">
          Debe tener mayúscula, minúscula, número y símbolo
        </mat-error>
      </mat-form-field>

      <!-- CONFIRM PASSWORD -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'AUTH.CONFIRM_PASSWORD' | translate }}</mat-label>

        <input
          matInput
          [type]="hideConfirmPassword ? 'password' : 'text'"
          formControlName="confirmPassword"
        />

        <button mat-icon-button matSuffix (click)="toggleConfirmPassword($event)" type="button">
          <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <!-- ERROR MATCH -->
      <div class="error"
        *ngIf="registerForm.hasError('passwordMismatch') &&
        (registerForm.get('confirmPassword')?.touched)">
        {{ 'VALIDATION.PASSWORD_MISMATCH' | translate }}
      </div>

      <!-- GDPR -->
      <mat-checkbox formControlName="gdpr_consent">
        {{ 'AUTH.GDPR_TEXT' | translate }}
      </mat-checkbox>

      <div class="error" *ngIf="isInvalid('gdpr_consent')">
        {{ 'AUTH.GDPR_ERROR' | translate }}
      </div>

      <!-- SUBMIT -->
      <button
        mat-raised-button
        color="primary"
        class="register-button"
        type="submit"
        [disabled]="registerForm.invalid">
        {{ 'AUTH.BUTTONS.REGISTER' | translate }}
      </button>

      <!-- LOGIN LINK -->
      <div class="login-text">
        {{ 'AUTH.ALREADY_ACCOUNT' | translate }}
        <button mat-button color="accent" routerLink="/login">
          {{ 'NAV.AUTH.LOGIN' | translate }}
        </button>
      </div>

    </form>
  </mat-card>
</div>
