<div class="register-container">
  <mat-card class="register-card">
    <mat-card-title>{{ 'NAV.AUTH.REGISTER' | translate }}</mat-card-title>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'USER.USERNAME' | translate }}</mat-label>
        <input matInput formControlName="username" required>
        <mat-error *ngIf="registerForm.get('username')?.hasError('required')">
          {{ 'VALIDATION.REQUIRED_USERNAME' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'USER.EMAIL' | translate }}</mat-label>
        <input matInput type="email" formControlName="email" required>
        <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
          {{ 'VALIDATION.REQUIRED_EMAIL' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'AUTH.PASSWORD' | translate }}</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="clickEvent($event)" type="button">
          <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
          {{ 'VALIDATION.REQUIRED_PASSWORD' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- 🔥 NUEVO: GDPR -->
      <mat-checkbox formControlName="gdpr_consent">
        {{ 'AUTH.GDPR_TEXT' | translate }}
      </mat-checkbox>
      <div class="error" *ngIf="registerForm.get('gdpr_consent')?.invalid && registerForm.get('gdpr_consent')?.touched">
        {{ 'AUTH.GDPR_ERROR' | translate }}
      </div>

      <button mat-raised-button color="primary" type="submit"
        class="register-button"
        [disabled]="registerForm.invalid">
        {{ 'AUTH.BUTTONS.REGISTER' | translate }}
      </button>
      
      <div class="login-text">
        {{ 'AUTH.ALREADY_ACCOUNT' | translate }}
        <button mat-button color="accent" routerLink="/login">{{ 'NAV.AUTH.LOGIN' | translate }}</button>
      </div>

    </form>
  </mat-card>
</div>